.body {

    background-color: #7fa5cf;
    /* background: repeating-linear-gradient(45deg, #575ca3 0%, #394781 10%, #352d79 0%, #1a155c 50%) 0 / 15px 15px; */
  }
  
  #container {
    width: 500px;
    margin: 0px;
  }
  

  .compra {
    text-align: center;
    font-size: 7em;
    padding: 100px;
  }
  
  a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  

  
  
  p a {
    color: rgb(180, 144, 89);
    font-family: Audiowide;
  }
  
  p a {
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
  }
  
  p a {
    color: #a8a8a7f5;
  }

  @keyframes neon5 {
    from {
      text-shadow: 0 0 10px rgb(54, 52, 52), 0 0 20px  rgb(54, 52, 52), 0 0 30px  rgb(54, 52, 52), 0 0 40px rgb(85, 79, 71), 0 0 70px rgb(85, 79, 71), 0 0 80px rgb(85, 79, 71), 0 0 100px rgb(85, 79, 71), 0 0 150px rgb(85, 79, 71);
    }
    to {
      text-shadow: 0 0 5px rgb(54, 52, 52), 0 0 10px rgb(54, 52, 52), 0 0 15px rgb(54, 52, 52), 0 0 20px rgb(85, 79, 71), 0 0 35px rgb(85, 79, 71), 0 0 40px rgb(85, 79, 71), 0 0 50px rgb(85, 79, 71), 0 0 75px rgb(85, 79, 71);
    }
  }
    /* @keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
  } */