#miniofertas{
 background-color:white;
  padding: 50px;
   display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 100px; 
 z-index: 3;
  }
   
#carta-oferta{
  background-color:white;
  color:black;
  border:3px solid rgb(9, 56, 3);
  border-radius: 20px;
  margin: 5px;
  max-width:1000px;
  width: 100%;
  min-width: 350px;
  height: 600px;
  display: flex;
  flex-flow: column;
  text-transform: uppercase;
  font-family: "sans-serif";
  align-items: center;
  justify-content: space-between; 
  transition: width 1.5s, height 1.5s, transform 1.5s;
  -moz-transition: width 1.5s, height 1.5s, -moz-transform 1.5s;
  -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s;
 
  }
  #carta-oferta:hover{
    transform : scale(1.1);
    -moz-transform : scale(1.1);      /* Firefox */
    -webkit-transform : scale(1.1);   /* Chrome - Safari */
  
  }
  .cardheader{
    width: 100%;
    margin-top: 0%;
    font-weight: none;
    color:black;
    text-align:center;
    font-size: 50px;
    text-transform: uppercase; 
  }
  .carta-oferta section{
    text-align: center;    
    width: 100%;
  }
  .imagen{
      border: 2px solid rgba(255, 0, 0, 0.5);
      width: 90%;
      height: 50%;
      margin-left: 5%;
      background-image: url("./imagen/puenting.jpg");
      background-size:cover;
      
      
  }


 #cardh2 {
    width: 100%;
    margin-top: 0%;
    color:black;
    flex: 0 0 auto;
    text-align:center;  
    text-transform: uppercase;
    font-weight: none;

  }
  .carta-oferta h3{
    width: 100%;
    margin-top: 0%;
    flex: 0 0 auto;
    text-align:center;    
    text-transform: uppercase; 

  }
  .carta-oferta h4{
    width: 100%;
    margin-top: 0%;
    flex: 0 0 auto;
    text-align:center;
    text-transform: uppercase; 

  }

  .precios {
    
    color:black;
    border-radius: 15px;
    width: 100%;
    height: 90px;
    flex: 0 0 auto;
    font-size:0.8em; 
    text-transform: uppercase;
    font-family: "sans-serif";
    text-align: center;
    background-color: rgba(6, 98, 13, 0.883);
   
}
.precios p{
  margin-top: 15px;
  color:black;
  font-size: 300%;
  font-weight: 200;
}
 .buttonEdit{
  display: center;
  border:solid 2px black;
  background-color: rgba(6, 98, 13, 0.883);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 25px;
  width: 80%;
  transition: width 1.5s, height 1.5s, transform 1.5s;
  -moz-transition: width 1.5s, height 1.5s, -moz-transform 1.5s;
  -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s;
}
.buttonEdit:hover{
  transform : scale(1.1);
  -moz-transform : scale(1.3);      
  -webkit-transform : scale(1.3);   
} 
.titulo{
  text-align: center;
  font: bold 3em Times, Garamond;
  padding: 50px;
  font-style: italic;
  background-color: rgba(6, 98, 13, 0.883); 
  color:white;
  font-weight: 120%;
  font-size: 50px;
}
.divis{
  width: 90%;
  display:flex;
  justify-content:space-between;
}
.divisa{
 
  text-align: left;
}
.divisb{
  border:solid 1px rgba(6, 98, 13, 0.883);
  border-radius: 30px;
  height: 70px,;
  padding-top: 5px;
  margin: 15px;
  width: 70px;
  background-color: rgba(6, 98, 13, 0.883); 
  margin-right: 20px;
 font-size: 40px;
  text-align: center;
  justify-content:center;
}

