#oferta{
    display: inline-block;
    flex-direction:column;
    background-image: url("./imagen/deportes_aventura_oblog.gif");
    background-size:contain;
    background-position: cover;
    padding: 5px;
    width: 100%;
    height: 800px;
    text-align: center;
    text-transform: uppercase; 
    align-items: center;
    font-family: "sans-serif";
   

}

#oferta article{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    align-items:center;
    justify-content:space-between;
    text-align: center;
    border: 6px solid rgb(0, 3, 7);
    background-color: rgb(83, 138, 228);
}
#oferta h1 { 
    color: #fff;
    font-size: 60px;
    font-weight: 100px;
    padding-top: 20px;
    

 
}
#oferta h2 {

    color: rgb(138, 47, 47);
    font-size: 30px;
    margin-left: 30px;
    padding-top: 20px;
  
}
#oferta h3 {

    color: #fff;
    font-size: 20px;
    font-weight: 5px;
    margin-left: 30px;
   
 
}
#oferta li p{
    background-color: aliceblue;
     color: rgb(6, 6, 53);
     width:400px;
     height: 100px;
     font-size: 20px;
     font-weight: 5px;
     margin-left: 30px;
    
  
 }
 #oferta button{
    width: 100%;
    height: 30px;
    font-size: 130%;
    background-color: red;
}


