.contido {
  background: white;
  padding: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.col.threeQuarter {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.col.padding {
  padding-left: 10px;
}

.oferName {
  text-align: center;
  font-size: 35px;
  font-weight: 90px;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 30%;
  color: rgba(6, 98, 13, 0.883);
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.section.gallery {
  overflow: hidden;
  padding: 0px 0px 0px 15px;
  color:black;
  margin-left: auto;
  margin-right: auto;
}

.gallery img {
  float: left;
  width: 33.33%;
  padding: 0px 15px 15px 0px;
  cursor: pointer;
  color:black
}

  img {
    display: block;
    width: 100%;
  }
  
  .col.quarter {
    width: 90%;
    margin-left: auto;
  margin-right: auto;
  }
  
  p.descrip {
    color: black;
    
    direction: rtl;
    font-size: 20px
  }

  p.fech {
    color: black;
    text-transform: uppercase;
    font-size: 40px
  }

  p.place {
    color: black;
    text-transform: uppercase;
    font-size: 40px
  }

  p.tags {
    padding-top: 10px;
    color:black;
    font-size: 40px
  }
  
  .section.price p {
    text-align: center;
    display: block;
    font-size: 200%;
    color:black;
    }
    
    .section.price p {
      text-align: center;
      display: block;
      font-size: 200%;
      color:black;
      margin: 10px;
    }
  
  

  .button {
    background-color: rgba(6, 98, 13, 0.883);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    color: rgb(14, 2, 2);
    font-size: 250%;
    margin: 8px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 4000;
  }
  


  .cartis {
    /* -webkit-border-radius: 100px 100px 100px 100px;
    border-radius: 40px 40px 40px 40px;
    background: rgb(255, 255, 255);
    padding: 30px;
    width: 1500%;
    max-width: 800px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 50px 0px rgba(0,0,0,0.3);
    text-align: center;
    align-items: center;
    flex-flow: column;
    justify-content: center;  */
    display:flex;
    height: 1300px;
    margin: 2%;
    width: 95%;
    border: 2px solid rgba(6, 98, 13, 0.883);
    padding: 5px;
  }
  .ofer1{
    width: 50%;
    height: 60%;
  }
  .ofer2{
    margin-top: 5%;
    width: 50%;
    text-align: center;
    height: 80%;
  }
  .bofer{
    margin-top: 10px;
    width: 100em;
    text-align: left;
    color:black;
    font-size: 25px;
    
  }

  #trat{
   margin:10px;
    font-size: 30px;
  }
  
 /* #crea{
      border: 2px solid rgba(6, 98, 13, 0.883);
  }
*/
  

  
  
  /* Sections */
  /* .section {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    font-size: 5px;
    text-transform: uppercase;

  } */


  
  

  


  
  /* @media all and (max-width: 960px) and (min-width: 650px) {
    .wrapper {
      width: auto;
    }
  }
  
  @media all and (max-width: 650px) {
    .wrapper {
      width: 650px; 
    }
  } */