a {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 4;
}
  
  #entrare {
    text-align: center;
    font-size: 20px;
    /* font-weight: 600; */
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: white;
  }
  
  #rejister {
    text-align: center;
    text-size-adjust: 2000px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 2px 8px 10px 8px; 
    color: white;
  }

  .addinfo{
    font-size: small;
    margin: 10px
  }

  .wrap {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    height: 1200px;
    width: 100%;
    padding: 300px;
    background-image: url("https://habitodevidasaludable.com/wp-content/uploads/2017/04/Deportes-extremos.jpg");
    background-size: 100% 100%;
  }
  
  #logueador {
    -webkit-border-radius: 100px 100px 100px 100px;
    border-radius: 40px 40px 40px 40px;
    background: rgb(0, 0, 0);
    padding: 30px;
    width: 1500%;
    max-width: 800px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 50px 0px rgba(0,0,0,0.3);
    text-align: center;
    opacity: 0.9;
  }
  
  h3.inactive {
    color: white;
  }
  
  h1.active {
    color: white;
    border-bottom: 2px solid #025202;
  }

  #imputs {
  background-color: rgba(6, 98, 13, 0.883);
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  
  input[type=text]:placeholder {
    color: #cccccc;
  }

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: rgba(6, 98, 13, 0.883);
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: white;
  }
  
  .underlineHover:hover:after{
    color: white;
    width: 100%;
  }