



  .flex-rw {
    display: flex;
    flex-flow: row wrap;
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid primary-line-color;
    width: calc(100% - 20px);
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 0px;
    
  }
  footer.footer {
    background: rgb(0, 0, 0);
    margin-top: auto;
    width: 100%
  }


  .lapover {
    position: relative;
    background: rgb(0, 0, 0);
    padding: 35px;
    font: bold 3em Times, Garamond;
    color: white
    
  }
  .footer-social-connect {
    display: flex;
    align-items: center;
    font: 3.5em "Oswald", serif;
    color: #fff;
    position: relative;
    background: rgb(0, 0, 0);
    padding:20px;
    font: bold 3em Times, Garamond;
  }
  .footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px
  }
