.aparicion {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 200px;
  background-repeat: no-repeat;
  background-image: url("https://habitodevidasaludable.com/wp-content/uploads/2017/04/Deportes-extremos.jpg");
  background-size: 100% 100%;
  
}
#recuadro {
  -webkit-border-radius: 100px 100px 100px 100px;
  border-radius: 40px 40px 40px 40px;
  background: rgb(0, 0, 0);
  padding: 40px;
  width: 1500%;
  max-width: 800px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 50px 0px rgba(0,0,0,0.3);
  text-align: center;
  opacity: 0.9;
}


.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  min-height: 10vh;
}
.btn {
  flex: 1 1 auto;
  padding: 40px;
  text-align: center;
  transition: 0.5s;
  background-size: 170% auto;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-size:30px;
  align-items: center;
  justify-content: center
 }

.btn-1 {
  opacity: none;
  background-image: linear-gradient(to right, #0e4923 0%, #18743b 21%, #53ad25 45%, #4fd327 71%, #2af170 100%);
  width: 25vw;
}

.btn-2 {
  margin: 35px;
  background-image: linear-gradient(to right, #96b1a0 0%, #6ba882 21%, #69a74a 45%, #3a9e1c 71%, #0b4620 100%);
  width: 25vw;
}

.btn-3 {
  background-image: linear-gradient(to right, #96b1a0 0%, #6ba882 21%, #69a74a 45%, #3a9e1c 71%, #0e7431 100%);
  width: 25vw;
}

.btn-4 {
  margin: auto;
  background-image: linear-gradient(to right, #004118 0%, #21693b 21%, #415f32 45%, #596d53 71%, #68796e 100%);
  width: 25vw;
}
.principio{
  font-size:300%;
  color:rgb(255, 255, 255);
}
