.App {

  margin-left: 10px;
  margin-right: 10px;
  font-family: "sans-serif";  
}


.fondoApp {

opacity: 1 ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-left: 5px;
padding-right: 5px;
height: 100%;

}

.App .boxButton {

  box-sizing: border-box;
  width: 250px;
  height: 230px;
  padding: 5px;  
  border: 1px solid rgb(36, 26, 175);
  overflow: scroll;
}
.App .Carrusel {
    margin-top: auto;
    margin-left: 160px;
    margin-right: 140px;
}  
.App.Carrusel:hover{
      transition: 3s;
  transform : scale(2);
}

.opciones{
  display: flex;
  border:2px solid coral;
  color: white;
  height: 80px;
  background-color: blue;
  justify-content: space-between;
  

}
 .botonOpcion{
  width: 200px;
  border-radius: 10px;
}




