.opciones{
    background-color:  rgb(222, 240, 237);
}
.botonOpcion:hover{
    background-color: rgb(76, 194, 47);
    border-radius: 15px;
}
.nav{
    box-sizing:border-box;
    margin-top: 0;
    padding:0;
    background-color: white;
    color: #191C26;
}

.ul{
    display:flex;
    padding:30px;
    justify-content: space-around;
    border: solid 2px white;
    list-style-type: disc;
    font-size: 120%;
    color: #191C26;
}       
li{
    padding:20px;         
    list-style-type:none;
    position:relative;    
    width:180px;
    display: list-item;
    font-size: 100%;
    text-align: center;
    justify-items: center;
    
}
                
li p{
    text-decoration:none;
    display:inline-block;
    margin:15px;
    font-size: 200%;
    border: solid 2px white;
    border-radius: 10px;
    width:180px;
    height:60px;  
    color:#fff;
    background-color:#000;
 
}
            
li p:hover{
    color:#000;
    background-color:#fff;
    
                
}

.nav li  p{
    text-decoration:none;
    display:inline-block;
    font-size: 200%;   
    border-radius: 10px;
    width:300px;
    height:60px;  
    color:black;
    background-color:rgba(6, 98, 13, 0.883);
}
        
    
nav li ul{
    display:none;
    position:absolute;
    border: solid 2px white;
    background-color: rgba(6, 98, 13, 0.883);
    border-radius: 12px;
    top:50px;
    left:100px;
    z-index: 5;
}
.nav li{
           
    list-style-type:none;
    position:relative;    
    width:400px;
    display: list-item;
    font-size: 100%;
    text-align: center;
    justify-items: center;
    
}
    
            
nav li:hover ul,
nav li:focus-within ul {
    display:block;
    
}


.buttonSearch{
    background-color: #000;
    color:white;
    width: 120px;
    height: 40px;

}
#precio{
    width: 250px;
    height: 100px;
}
.inputprecio{
    height: 400px;
}

#tituloselección{
    background-color: white;
    color:black;
    height: 70px;
    font-size: 40px;
    padding: 15px;
    margin-top: 20px;
}
    