.AutoPlayCarruselGIF {
    margin-bottom: 20px;
    margin-left: 220px;

}

.styleImagenGIF {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 0px;
    height: 450px;
    width: 800px;
}




.textoImagenesGIF {
    color: white;
    position: absolute;
    font-family: Arial;
    font-weight: 900;
    left: 10px;
    top: 150px;
    transform: initial;
    animation: texto 10s infinite ;
}

@keyframes texto {
    0% {
        opacity: 0;
        font-size: 0px;
       
    }
    15% {
        color: white;
        opacity: 1;
        font-size: 35px;
        letter-spacing: 0em;
    }
    75% {
        color: black;
        opacity: 1;
        font-size: 35px;
        letter-spacing: 0em;
    }

    100% {
        opacity: 0;
        font-size: 0px;
       
    }
}