.Menu {
    z-index: 10;
    position: absolute;
    margin-top: 25px;
    left: 0px;
    will-change: transform;
}

.MenuButton {
    background-color: blue;
    color: white;

    text-shadow: #969696 1px 3px 0, #aba8a8 1px 2px 5px;
    box-sizing: border-box;
    margin: 6px;
    padding: 0px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 5px;
    width: 220px;
}


.MenuButton:hover{
    border:1px solid rgb(22, 10, 10);
    background-color: rgb(3, 22, 71);

   }

.TextMenuButton {
    margin: 6px;
    color: white;
    font: Arial;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
}

.BoxMenuButton {
    float: inline-start;
    box-sizing: border-box;
    width: 220px;
    height: 400px;
    padding: 5px;
    border: 1px solid rgb(36, 26, 175);
    overflow: scroll;
    border-radius: 5px;
}