.Carrusel {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left:100px;
    margin-right: 20px;
    justify-content: space-between;
} 

.carousel-initialized{ 

    padding: 15px;
}
.carousel-initialized.carousel-initialized.scrolling {

    padding: 15px;

}
.carousel-arrow.block.carousel-prev::before {

    padding-left: 40px;
}

.imagenCarrusel {
    opacity: 1;
    border-radius: 5px;
    border:2px solid black;
    height: 125px;
    width: 150px; 

    justify-content: center;
    align-items: center;

}

::before {

    padding-left: 40px;
}

.imagenCarrusel:hover {
    opacity: 1;
    transform: scale(1.1);
    transition-duration: 1.5s;
  
}
 
.imagenCarruselText {
  position: fixed;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition-duration: 1s;
    text-decoration: none;
  
    transform: initial;
    animation: scale-text 10s infinite ;
}


@keyframes scale-text {
0% {
   letter-spacing: 0.1em;
    color: black;
    opacity: 1;
   }

   45%   {
    letter-spacing: 0em;
    color: white;
    opacity: 1; 
       
    }

50%   {
    letter-spacing: 0.1em;
   
    color: white;
    opacity: 1; 
       
    }  

95%   {
    letter-spacing: 0em;
    color: black;
    opacity: 1; 
           
    }
    
100%   {
    letter-spacing: 0.1em;
    color: black;
    opacity: 1;

   
    }
}  