.Portada {
    padding-top: 0.1px;
    opacity: 1 ;
    background-image: url('./Imagen_Portada/sport-3786133_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:1200px;
    transform: initial;
    }

.Portada p{
    font: bold 3em Times, Garamond;
    padding-top: 1000px;
    padding-left:1200px;
    font-style: italic;
}
   
   
