#container{
    font-weight: 900;
    background-color: yellowgreen;
    display: flex;
    border-width: 10px;
    border-color: white;
    border-radius: 10px;
    width: 50%;
    height: 70%;
    justify-content: space-around;
    align-items: center;
}
.form-control{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5px;
    color: black;
    background-color:white;
    border: 5px solid white;
    height: calc(2.5rem + 2px);
    border: radius 6px;
}

.textBotonSearch{
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color:rgb(187, 184, 184);
    font-weight: 900;
    border: 2px solid black;
    height: calc(2.5rem + 2px) ;
    border: radius 9px;
}
#containerRow{

height: 25px;

}
#containerRowPrecio{
    
    width: 140px;
    align-items: center;
}

.containerRowFecha{
    width: 140px;
    align-items: center;
}


.TextContainerRow{
    font-weight: 800;
    color: black;
}
