.header {
    display: flex;
    border:2px solid black;
    background-color: rgba(6, 98, 13, 0.883);
    color: white;
    height: 150px;
    justify-content: space-around;
    align-items: center;
   
    }
   
.buttonheaderHome{ 
    background-color: rgba(20, 119, 29, 0.637);
    opacity:0.9;
    font-size: 60px;
    color: white;
    font: bold 4em Times, Garamond;
    font-style:italic;
    font-weight: 1000;
    padding: 8px;
    border:none;   
    transition:color 0.5s;
   
    }
    .buttonheaderHome:hover{
    color: rgb(1, 8, 0);
    
    }

.buttonheaderProm{ 
        font-size: 40px;
        font-weight: 1000;
        font-family: "sans-serif";
        padding: 8px;
        background-color: rgba(20, 119, 29, 0.637);
        border:none;
        
        }
    
    
/*.buttonloggin{
    border-radius: 30px;
    background-color: rgba(20, 119, 29, 0.637);
    border:4px solid white; 
    transition: background-color .5s;
    transition: border .5s;
    }
    
.buttonloggin:hover {
    border: solid 4px black;
    background-color:black;
    }*/
    
  
.img{
        height: 60px;
        width: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    
.menuCSS3  {
	display: block;
    padding: 1em;
    background-color: rgba(20, 119, 29, 0.637);
	text-decoration: none;
	color: #191C26;
}
.menuCSS3 ul li{
    width:180px;
}

.menuCSS3 p:hover {
    background-color: rgba(20, 119, 29, 0.637);
}
.menuCSS3 ul li ul {
    background-color: rgba(20, 119, 29, 0.637);
    width: 270px;
   padding: 10px;;
    display: none;
    
}
.menuCSS3 ul li p:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
  
}