.logback {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 373px;
  background-image: url("https://www.barcelo.com/pinandtravel/wp-content/uploads/2018/02/San_Valentin_2018-1170x532.jpg");
  background-size: 100% 100%;
}

#lablanca {
  -webkit-border-radius: 100px 100px 100px 100px;
    border-radius: 40px 40px 40px 40px;
    background: rgb(255, 255, 255);
    padding: 30px;
    width: 1500%;
    max-width: 800px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 50px 0px rgba(0,0,0,0.3);
    text-align: center;
}

#entr {
  text-align: center;
  text-size-adjust: 2000px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 2px 8px 10px 8px; 

}



  #entr {
  color: black;
  border-bottom: 2px solid #025202;
}
/*.login-form {
    position: absolute;
   
    top:83px;
    right:70px;
    z-index: 8
;
    
    
    width: 300px;
    padding: 20px;
    border: 2px solid rgb(4, 4, 136);
    margin: 20px auto;
    border-radius: 4px;
    text-align: center;
  }
  .content{
    padding: 0 auto 0 auto;
  }
  .login-form label {
    display: block;
  
    
  }
  .login-form input {
    border: 1px solid rgb(13, 6, 70);
    border-radius: 5px;
    display: block;
    width: 100%;
    padding-left: 5px;
    background-color: rgb(125, 125, 206);
  
  }
  
  .login-form button {
    z-index: 3;
    margin-top: 10px;
  }
*/
